<div class="row mt-5">
    <div class="col-12">
        <h4> About Us </h4>
        <div class="row">
            <div class="col-12">
                <p style="text-align: center;">
                    Founded in 2020, during the Coronavirus pandemic, came a brilliant idea to share with the
                    community. Since everyone has been quarantined, most people are at home living their lives
                    and most people like us, can't live without music. Just about everyone listens to music on a daily,
                    what's not to love about music? A similar thing can be said about movies, who doesn't love movies?
                    Well just like movies have a place for fans and critics to review
                    them, we present you In2uned.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h4> Our Mission </h4>
        <p style="text-align: center"> In2uned is a catalyst for music fans and critics to review music and connect with
            others. </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h4> Our Vision </h4>
        <p style="text-align: center;"> In2uned wishes to see a well integrated community connected through music
            throughout the world. </p>
    </div>
</div>