<h1>{{other}}</h1>

<div class="bg-dark card-body">
    {{#each reviews}}
    <div>
        {{name}}
    </div>
    <div>
        <h4>{{username}}</h4>
        <p class="text-center">more infor the actual review text</p>
        <p class="text-right">{{stars}} stars</p>
        {{/each}}
    </div>
</div>