  
<div class="row">
    <div class="col-12">
        <div class="card top-card text-center text-white mt-2" style="width: 28rem;">
            <img class="card-img-top" src="/assets/images/hands.jpg" alt="Crowd">
            <div class="card-body">
                <p class="card-text">Review music. Share with your freinds.</p>
                <button type="button" class="btn btn-outline-light btn-lg">Write A Review!</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="text-white reviewbox">
            <div class="card-body feed-card">
                <div class="row">
                    <div class="col-12">
                        <h4 class="card-title">Feed</h4>
                    </div>
                </div>
                <div class="row">
                    {{#each reviews}}
                    <div class="reviews col-sm-12 col-md-5">

                        <h3>{{review_name}}</h3>
                        <h5>Rating: {{rating}}/5</h5>
                        <p>User: {{username}}</p>
                        <p>{{review_text}}</p>

                    </div>
                    {{/each}}
                </div>
            </div>

        </div>
    </div>
</div>