<!DOCTYPE html>
<htmL>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>in2uned</title>

    <!-- Bootstrap Link-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="/public/assets/css/style.css">
</head>

<body>
    <img src="https://ichef.bbci.co.uk/images/ic/480xn/p05smlv4.jpg" id="bg" alt="">
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Welcome to In2uned! </h3>
                            <div class="form-group">
                                <input type="submit" id="Login" class="btn btn-info btn-md" value="Login">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">

            $('#Login').click(function () {
                console.log("I'm in the click");
                window.location = "https://accounts.spotify.com/en/login/" + this.id;
            });

        </script>
</body>

</html>