<div class="d-flex justify-content-center h-100">
    <div class="col-lg-9">
        <div class="card" id="logincard">
            <div class="card-header">
                <a class="navbar-brand text-danger"> In2uned </a>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group" "justify-content-center h-100">
                        <input type="submit" value="Login with Spotify" class="btn login_btn" id="Login"
                            href="/auth/provider">
                        <img src="../public/assets/images/spotify.jpg">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/login.js"></script>