<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="d-flex justify-content-center h-100">
    <div class="card" id="logincard">
        <div class="card-header">
            <a class="navbar-brand text-danger brandLogo"> In2uned </a>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group" "justify-content-center h-100">
                    <input type="submit" value="Login with Spotify" class="btn login_btn" id="Login"
                        href="/auth/provider">
                    <i class="fab fa-spotify"></i>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/assets/js/login.js"></script>