body {
    background-color: #181818;
    background-image: url("../images/sound50op.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: 100% 30%;
}

#loginBanner {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    margin-bottom: 15px;
    color: #dc3545;
    font-size: 96px;
}

#logoBanner {
    font-family: 'Monoton', cursive;
    color: #dc3545;
    width:max-content;
}

p {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: max-content;
}


#Login {
    border: white 5px;
    position: static;
    font-family: 'Mada', sans-serif;
    font-size: 24px;
    color: rgb(246, 70, 76);
}

#logincard {
    margin-top: 15px;
    height: max-content;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.5) !important;
    align-items: center;
}

.brandLogo {
    font-family: 'Monoton', cursive;
    font-size: 32px;
}

#spotifyimg {
    height: 25px;
}

.centerContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding: 10px;
}


input:hover{
    color:white !important;
}
